# portfolio on :8080
:80 {
    root * /srv/portfolio/public
    php_fastcgi maengdok_portfolio_back:9000
    file_server
}

# dcup on :8081
:81 {
    root * /srv/dcup/public
    php_fastcgi maengdok_php_dcup:9000
    file_server
}